* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

input {
  display: block;
}

button {
  cursor: pointer;
}

.parent {
  margin: auto;
  /* width: 50%; */
  /* border: 3px solid green; */
  padding: 10px;
  display: inline-grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 3px;
}

.parent div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  font-size: 3em;
}
