* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

input {
  display: block;
}

button {
  cursor: pointer;
}

.parent {
  margin: auto;  
  /* width: 50%; */
  /* border: 3px solid green; */
  padding: 10px;
  display: inline-grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 3px;
}

.parent div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  font-size: 3em;
  cursor: pointer;
}

.winningCell {
  background-color: rgb(129, 252, 199);
}

/* Modal styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  /* transition: all 0.3s ease; */

  .modal-backdrop {
    background: rgba(#000, 0.7);
    height: 100%;
    width: 100%;
    position: fixed;
  }

  .modal-content {
    background: #fff;
    border-radius: 5px;
    max-width: 600px;
    position: fixed;
    top: -100%;
    /* transition: all 0.6s ease; */
    z-index: 1000;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 1.5rem;

    .close-modal {
      font-size: 2rem;
      padding: 0;
      margin: 0;
      height: 30px;
      width: 30px;
      text-align: center;

      &:hover {
        color: #000;
      }
    }
  }

  .modal-body {
    padding: 1.5rem;
  }

  .modal-footer {
    border-top: 1px solid #ccc;
    padding: 1rem;
    text-align: right;
  }

  &.visible {
    opacity: 1;
    visibility: visible;

    .modal-content {
      top: 25%;
    }
  }
}
