* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

input {
  display: block;
}

button {
  cursor: pointer;
}

.parent {
  margin: auto;
  /* width: 50%; */
  /* border: 3px solid green; */
  padding: 10px;
  display: inline-grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 3px;
}

.parent div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  font-size: 3em;
  cursor: pointer;
}

.winningCell {
  background-color: rgb(129, 252, 199);
}

.controlButtons {
  margin: auto;
  display: flex;
  gap: 5px;
  max-width: 306px;
  padding-top: 3px;
}

.controlButtons button {
  flex: 1;
  padding: 5px;
}

/* Modal styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  /* transition: all 0.3s ease; */

  .modal-backdrop {
    background: rgba(#000, 0.7);
    height: 100%;
    width: 100%;
    position: fixed;
  }

  .modal-content {
    background: #fff;
    border-style: solid;
    border-radius: 5px;
    max-width: 600px;
    position: fixed;
    top: -100%;
    /* transition: all 0.6s ease; */
    z-index: 1000;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 1.5rem;

    .close-modal {
      font-size: 2rem;
      padding: 0;
      margin: 0;
      height: 30px;
      width: 30px;
      text-align: center;

      &:hover {
        color: #000;
      }
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .modal-title {
    font-size: 1.1em;
  }

  .modal-body {
    padding: 1.5rem;
  }

  .modal-footer {
    display: flex;
    border-top: 1px solid #ccc;
    padding: 1rem;
    /* text-align: right; */
  }

  .modal-footer button {
    align-items: center;
    justify-content: center;
    display: flex;    
    flex: 1;
    margin: auto .3em;
    
  }

  &.visible {
    opacity: 1;
    visibility: visible;

    .modal-content {
      top: 7.5%;
    }
  }

  .nameInput {
    text-align: center;
    margin-top: .3em;
  }
}
